<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Xác nhận đơn hàng</h1>
        <p>Cảm ơn bạn đã đặt hàng dưới đây là thông tin về đơn hàng của bạn</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img
                                src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg"
                                alt=""
                                class="product-img"
                                >
                            <span class="product-name">Product 1</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 đ</td>
                    <td>200,000 đ</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img
                                src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg"
                                alt=""
                                class="product-img"
                                >
                            <span class="product-name">Product 1</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 đ</td>
                    <td>200,000 đ</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient">Tiếp tục mua sắm</button>
        </div>
    </div>
</div>
<app-footer></app-footer>