<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Xác nhận đơn hàng</h1>
        <p>Cảm ơn bạn đã đặt hàng dưới đây là thông tin về đơn hàng của bạn</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody *ngFor="let cartItem of cartItems; let i = index">
                <tr>
                    <td>
                        <div class="product-info">
                            <img
                                [src]="cartItem.thumbnail"
                                alt=""
                                class="product-img"
                                >
                            <span class="product-name"> {{cartItem.name}} </span>
                        </div>
                    </td>
                    <td>{{cartItem.quantity}}</td>
                    <td>${{cartItem.price}}</td>
                    <td>${{cartItem.total}}</td>
                </tr>
            </tbody>
        </table>
        <span class="mt-3">Tổng thanh toán ({{totalItems}} sản phẩm): ${{totalPrice}} </span>
        <div class="text-center mt-3">
            <button class="btn btn-gradient">Tiếp tục mua sắm</button>
        </div>
    </div>
</div>
<app-footer></app-footer>