<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form">
                <h2 class="login-header text-center">Đăng nhập</h2>
                <div class="form-group">
                    <label for="email">Email/Phone</label>
                    <input type="text" class="form-control" id="email" placeholder="0866194010">
                    <div class="divider-nospace"></div>
                </div>
                <div class="mt-5 form-group password-field">
                    <label for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" placeholder="********">
                    <i class="password-toogle fa-solid fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" class="form-check-input" name="" id="remember">
                            <label for="remember" class="form-check-label text-start">Ghi nhớ mật khẩu</label>
                        </span>
                        <a href="" class="forgot-password-link">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="form-group">
                    <select name="" id="" class="form-control access-right">
                        <option selected disabled>Quyền đăng nhập</option>
                        <option>Người dùng</option>
                        <option>Quản trị viên</option>
                    </select>
                    <button class="btn-login">Đăng nhập</button>
                    <div class="divider"></div>
                    <p class="text-center mt-3">Bạn chưa đăng ký?
                        <a href="" class="register-link">Tạo tài khoản mới</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>