<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách sản phẩm kèm ảnh</p>
        <p>chọn xem sản phẩm và mua hàng tại đây</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option value="" selected disabled>Danh mục sản phẩm</option>
            <option value="">Đồ điện tử</option>
            <option value="">Hải sản</option>
            <option value="">Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let product of products | paginate : {
                itemsPerPage: 10,
                currentPage: currentPage,
                totalItems: totalPages
            }">
                <div class="product-item">
                    <img 
                        [src]="product.url" 
                        alt="product image"
                        class="product-img"
                    >
                    <h3 class="product-name">{{product.name}}</h3>
                    <p class="product-description">{{product.description}}</p>
                    <p class="product-price">{{product.price}}</p>
                    <div class="product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-alt"></i>
                    </div>
                    <div class="product-actions">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-success">Mua ngay</button>
                    </div>
                </div>
            </div>
    </div>
    <pagination-controls
      (pageChange)="pageChanged($event)"
    >
    </pagination-controls>
</div>
<app-footer></app-footer>