<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Home</h1>
        <p>Trang này hiển thị danh sách sản phẩm kèm ảnh</p>
        <p>chọn xem sản phẩm và mua hàng tại đây</p>
    </div>
    <div class="search-box">
        <input 
            type="text" 
            class="form-control search-input" 
            placeholder="Tìm sản phẩm"
            [(ngModel)]="keyword"
        >
        <select class="form-control product-category"
            [(ngModel)]="selectedCategoryId"
        >
            <option [value]="0">Tất cả</option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </option>
        </select>
        <button class="btn btn-primary ml-2" (click)="searchProducts()">Tìm kiếm</button>
    </div>
    <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let product of products | paginate : {
                itemsPerPage: 10,
                currentPage: currentPage,
                totalItems: totalPages
            }">
                <div class="product-item" (click)="productClick(product.name, product.id, product.category_id)" >
                    <img 
                        [src]="product.url" 
                        alt="product image"
                        class="product-img"
                    >
                    <h3 class="product-name">{{product.name}}</h3>
                    <p class="product-description">{{product.description}}</p>
                    <p class="product-price">${{product.price}}</p>
                    <div class="product-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-alt"></i>
                    </div>
                    <div class="product-actions">
                        <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn-success">Mua ngay</button>
                    </div>
                </div>
            </div>
            <pagination-controls
                (pageChange)="pageChanged($event)"
                previousLabel=""
		        nextLabel=""
            >
            </pagination-controls>
    </div>
</div>
<app-footer></app-footer>