.intro-section {
    color: white;
    text-align: center;
    padding: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-category {
    width: 200px;
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: white
}

.product-description {
    color: rgba(173, 178, 203);
}

.product-warranty {
    color: rgb(242, 162, 212);
}

.product-price {
    color: white;
    margin-top: 10px
}

.product-rating {
    color: #FFD700;
    margin-top: 5px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}